<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="app-cards">
  <template>
    <style>
      :host {
        display: block;
      }
      .paper-card{
        max-width: 300px;
        width: 100%;
        margin: 8px;
      }
      .rate-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100%;
        object-fit: cover;
      }
      .rate-header { @apply --paper-font-headline; }
      .rate-name { color: var(--paper-grey-600); margin: 10px 0; }
      paper-icon-button.rate-icon {
        --iron-icon-fill-color: white;
        --iron-icon-stroke-color: var(--paper-grey-600);
      }
      
    </style>
    <template is="dom-repeat" items="{{users}}">
      <paper-card class="rate paper-card">
        <div class="card-content">
          <div class="rate-header">{{item.name}}</div>
          <div class="rate-name">{{item.email}}</div>
          <div>{{item.website}}</div>
        </div>
        <div class="card-actions">
          <paper-button on-click="showAddress" disabled="{{checkPar(item.id)}}">Ver ubicación</paper-button>
        </div>
        <!-- <div class="rate-image"></div> -->
        <img src="https://i.pravatar.cc?img=[[index]]" alt="img" class="rate-image">
      </paper-card>
    </template>
    
  </template>

  <script>
    /**
     * `app-cards`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AppCards extends Polymer.Element {
      static get is() { return 'app-cards'; }
      static get properties() {
        return {
          users: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
      }

      showAddress(e){
        let detalle = {
          detail: e.model.item
        }
        this.dispatchEvent(new CustomEvent('show-address', detalle) );
      }

      checkPar(val){
        return val%2 ? false : true;
      }

    }

    window.customElements.define(AppCards.is, AppCards);
  </script>
</dom-module>
