<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./app-cards.html">
<link rel="import" href="./app-map.html">

<dom-module id="app-root">
  <template>
    <style>
      :host {
        display: block;
      }
      .flex-center{
        display: flex;
        justify-content: center;
        flex-flow: wrap;
      }
    </style>
    <app-cards users="{{users}}" on-show-address="showAddress" class="flex-center"></app-cards>
    <app-map  user="{{detail}}" city="{{detail.city}}" street="{{detail.street}}"></app-map>
  </template>

  <script>
    /**
     * `app-root`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AppRoot extends Polymer.Element {
      static get is() { return 'app-root'; }
      static get properties() {
        return {
          detail: {
            type: Object
          },
          users: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.loadData();
      }

      showAddress(e){
        let detail = {
          name: e.detail.name,
          city: e.detail.address.city,
          street: e.detail.address.street,
          lat: e.detail.address.geo.lat,
          lng: e.detail.address.geo.lng
        }
        this.set('detail', detail);
      }

      async loadData(){
        let response = await fetch(`https://jsonplaceholder.typicode.com/users`);
        let users = await response.json();
        this.set('users', users );
      }

    }

    window.customElements.define(AppRoot.is, AppRoot);
  </script>
</dom-module>
