<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="app-map">
  <template>
    <style>
      :host {
        display: block;
      }
      #map-container{
        position: relative;
        display: flex;
        justify-content: center;
        inset: 0;
      }
      #map{
        width: 100%;
        min-height: 320px;
        margin: 16px;
        border-radius: 8px;
        z-index: 0;
      }
      #history{
        width: 164px;
        height: 32px;
        border-radius: 16px;
        background: #fff;
        position: absolute;
        display: flex;
        flex-flow: column;
        z-index: 1;
        cursor: pointer;
        overflow: hidden;
        transition: all .3s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      #history.top{
        top: 32px;
      }
      #history.bottom{
        bottom: 32px;
      }
      #history.open{
        height: 280px;
        width: 220px;
        transition: all .3s;
      }
      .header{
        text-align: center;
        height: 12%;
      }
      .header h5{
        margin-top: 10px;
      }

      .body::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 88%;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 92%, rgba(255,255,255,1) 100%);
      }
      .body{
        height: 88%;
        overflow: auto;
        display: none;
      }
      .body.open{
        display: block;
      }
      .item-body{
        padding-left: 16px;
        padding-bottom: 5px;
        padding-top: 8px;
      }
    </style>
    <div id="map-container">
      <template is="dom-if" if="{{history.length}}">
          <div id="history" class$="[[isOpen(open)]] [[isPosition(position)]]" on-click="openHistory">
            <div class="header">
              <h5>Historial de ubicaciones</h5>
            </div>
            <div class$="body [[isOpen(open)]]">
              <template is="dom-repeat" items="{{history}}">
                <div class="item-body">{{item}}</div>
              </template>
            </div>
          </div>
      </template>
      <div id="map"></div>
    </div>
  </template>

  <script>
    /**
     * `app-map`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AppMap extends Polymer.Element {
      static get is() { return 'app-map'; }
      static get properties() {
        return {
          userMarker: { 
            type: Object
          },
          user: {
            observer: '_changeMarker'
          },
          city: {
            type: String
          },
          street: {
            type: String
          },
          map: {
            type: Object
          },
          direction: {
            type: String,
            computed: 'getDirection(city, street)'
          },
          history: {
            type: Array,
            value: []
          },
          position: {
            type: Boolean,
            value: false
          },
          open: {
            type: Boolean,
            value: false
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.loadResources().then(()=>{
          this.createMap();
          this.createMarker();
        })
      }

      createMap(){
        let element = this.shadowRoot.getElementById('map');
        this.map = L.map(element).setView([19.427136953672232,-99.16766908811194], 17);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(this.map);
      }

      createMarker(){
          this.userMarker = L.marker([19.427136953672232,-99.16766908811194], {
              icon: L.icon({
                iconAnchor: [22,11],
                iconSize: [46,46],
                iconUrl: 'https://img.icons8.com/bubbles/2x/user-male.png'
              })
          }).addTo( this.map );
      }

      _changeMarker(){
        if(this.userMarker){
          this.userMarker.setLatLng([this.user.lat, this.user.lng]).bindPopup(`<b>${this.user.name}</b><br>${this.direction}`).openPopup();
          this.map.setView([this.user.lat, this.user.lng], 5)
          if(!this.history.length || this.user.lat != this.history[this.history.length - 1][0] ){
            this.push('history', [this.user.lat, this.user.lng])
          }
        }
      }

      openHistory(){
        this.set('open', !this.get('open'))
      }
      isOpen(status){
        return status ? 'open' : ''
      }
      isPosition(status){
        return status ? 'top' : 'bottom'
      }

      getDirection(a, b){
        return `${a} <small>${b}</small>`
      }

      async loadResources(){
        await this.loadStyles();
        await this.loadScript();
      }

      loadStyles(){
          return new Promise((resolve, reject)=> {
              try{
                  let linkTag = document.createElement('link');
                  linkTag.rel = 'stylesheet';
                  linkTag.href = 'https://unpkg.com/leaflet@1.7.1/dist/leaflet.css';
                  linkTag.integrity = 'sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==';
                  linkTag.crossOrigin = '';
                  linkTag.onload = ()=>{
                    resolve();
                  }
                  this.shadowRoot.appendChild(linkTag);
              } catch (err){
                reject(err);
              }
          });
      }

      loadScript(){
          return new Promise((resolve, reject)=> {
              try{
                  let scriptTag = document.createElement('script');
                  scriptTag.src = 'https://unpkg.com/leaflet@1.7.1/dist/leaflet.js';
                  scriptTag.integrity = 'sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==';
                  scriptTag.crossOrigin = '';
                  scriptTag.onload = ()=>{
                    resolve();
                  }
                  this.shadowRoot.appendChild(scriptTag);
              } catch (err){
                reject(err);
              }
          });
      }

    }

    window.customElements.define(AppMap.is, AppMap);
  </script>
</dom-module>
